:vars {
    --background: #1c2433;
    --foreground: #69C3FF;
    --color0:#1c2433;
    --color1: #262e3d;
    --color2: #303847;
    --color3: #444c5b;
    --color4: #a1adb7;
    --color5: #c3cfd9;
    --color6: #ABB7C1;
    --color7: #08bdba;
    --color8: #FF738A;
    --color9: #FF955C;
    --color10: #EACD61;
    --color11: #3CEC85;
    --color12: #77aed7;
    --color13: #69C3FF;
    --color14: #22ECDB;
    --color15: #B78AFF;
    --window-bg: alpha(var(--background), 0.9);
    --module-bg: alpha(var(--background), 0.8);
    --border-color: var(--foreground);
}

* {
    all: unset;
    font-family: "newfont";
    font-weight: 500;
    font-size: 18px;
    color: alpha(var(--foreground), 0.6);
}

#window-inner {
    border-color: alpha(var(--color11), 0);
    background-color: alpha(var(--window-bg), 0);
    padding: 0px;
}

#big {
    color: var(--color5);
    font-weight: 500;
    font-size: 18px;
}
#small { 
    color: var(--color5);
    font-weight: 400;
    font-size: 14px;
}

#inside-box {
    margin: 10px;
    padding : 13px;
    border-color: var(--color12);
    border-width: 2px;
    background-color: var(--background);
    border-radius: 2px;
}

#memlabels {
    font-weight: 500;
    font-size: 14px;

}

#date-time>label {
    font-weight: 900;
    font-size: 28px;
}


#x {
  font-size: 30px;
}

#close-header {
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 600px;
}

#mem-bar {
    color: var(--module-bg);
    background-color: var(--color0);
    border: solid 10px var(--color12);
}

#hq {
    padding: 16px;
    border: solid 1px var(--border-color);
    border-radius: 1px;
    background: var(--module-bg);
}

#hq_button {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 0px;
    border-top: solid 1px var(--border-color);
    border-right: solid 1px var(--border-color);
    border-left: solid 1px var(--border-color);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: var(--module-bg);
}

#hq_button:hover {
    background-color: var(--color12);
    transition: background 0.4s;
}



#profile-pic {
    background-color: alpha(var(--color1), 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    padding: 32px;
    margin: 4px;
}

#small-greet {
    font-size: 15px;
}

#big-greet {
    font-size: 18px;
}


