:vars {
    --background: #0f1416;
    --foreground: #89cdd2;
    --color0: #150d16;
    --color1: #7794c9;
    --color2: #9C5995;
    --color3: #5c9aab;
    --color4: #9A62F3;
    --color5: #E075DF;
    --color6: #F98F9F;
    --color7: #f5dbc4;
    --color8: #9dc7e0;
    --color9: #244a4f;
    --color10: #9C5995;
    --color11: #69edff;
    --color12: #7794c9;
    --color13: #E075DF;
    --color14: #F98F9F;
    --color15: #f5dbc4;
    --window-bg: alpha(var(--background), 0.9);
    --module-bg: alpha(var(--background), 0.8);
    --border-color: var(--color11);
}

* {
    all: unset;
    font-family: "newfont";
    font-weight: 500;
    font-size: 18px;
    color: alpha(var(--foreground), 0.6);
}

#window-inner {
    border-color: alpha(var(--color11), 0);
    background-color: alpha(var(--window-bg), 0);
    padding: 0px;
}

#big {
    color: #d9edee;
    font-weight: 500;
    font-size: 18px;
}
#small { 
    color: #d9edee;
    font-weight: 400;
    font-size: 14px;
}

#inside-box {
    margin: 10px;
    padding : 13px;
    border-color: #9dc7e0;
    border-width: 2px;
    background-color: #171e21;
    border-radius: 2px;
}

#memlabels {
    font-weight: 500;
    font-size: 14px;

}

#date-time>label {
    font-weight: 900;
    font-size: 28px;
}


#x {
  font-size: 30px;
}

#close-header {
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 600px;
}

#mem-bar {
    color: var(--module-bg);
    background-color: #457d85;
    border: solid 10px #89cdd2;
}

#hq {
    padding: 16px;
    border: solid 1px var(--border-color);
    border-radius: 1px;
    background: var(--module-bg);
}

#hq_button {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 0px;
    border-top: solid 1px var(--border-color);
    border-right: solid 1px var(--border-color);
    border-left: solid 1px var(--border-color);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: var(--module-bg);
}

#hq_button:hover {
    background-color: #7794c9;
    transition: background 0.4s;
}



#profile-pic {
    background-color: alpha(var(--color11), 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    padding: 32px;
    margin: 4px;
}

#small-greet {
    font-size: 15px;
}

#big-greet {
    font-size: 18px;
}


