:vars {
    --foreground: rgb(255, 255, 255);
    --background: rgb(26, 28, 30);
    --border-color: rgb(42, 43, 45);
    --button-color: var(--border-color);
}

* {
    all: unset;
    color: var(--foreground);
    font-family: "newfont";
}
 
#notification-box {
    padding: 0.8rem;
    background-color: #0f1416;
    border: solid 1px #41ccdf;
    border-radius: 1px;
}



#notif>button:active {
    margin-right: -500px;
    padding-right: 0px;
    padding-left: 300px;
}


#notification-title-circular-progress-bar {
  color: #41ccdf;
}
#notification .summary {
    font-size: 20px;
    font-weight: bold;
}

#notification .body {
    color: #ffffff;
    font-weight: normal;
    font-size: 15px;
}


#close-symbolic {
    color: #69edff;

}

#close-svg {
    color: #69edff;   
}
